body { 
  background-color: #F0F8FF;
}

h1 {
  font-family: "Courier New";
}

#nav-table { 
  width: 800px;
}


.nav-td { 
  width: 200px; text-align:center;
}

div {
  width: 800px; background-color: #FFFFFF;
}
.textDiv { 
  width: 800px; background-color: #FFFFFF;
}
