body { 
  background-color: #F0F8FF;
  margin-left: 40px;
  min-height: 100%;
}

#nav-table { width: 800px;}

#nav-td { width: 200px; text-align:center;}

.textDiv {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
}
